.listaTarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
}

.listaTarefas h2 {
  display: flex;
  margin: 0 auto;
  font-size: 3rem;
  margin-bottom: 12px;
}

/* .listaTarefas ul {
  max-height: 350px;
  overflow-y: scroll;
  scrollbar-width: thin;
} */


